.row.pB10
  .col-md-12
    .form-group
      .input-group
        = f.number_field "#{tire}_tread_depth".to_sym, placeholder: t("activerecord.attributes.tire_wear_indicate.#{tire}_tread_depth"), class: 'form-control input-lg', step: 'any'
        %span.input-group-btn
          %button.btn.btn-default.btn-lg{:type => "button"} mm
.row.pB10
  .col-md-offset-10.col-sm-offset-10.col-xs-offset-10.col-md-2.col-xs-2.col-sm-2.serv-label-one
    %strong.text-muted= t('serviced')
.row.xs-border
  .col-md-5.col-xs-7.col-sm-5.full-box
    .form-group
      = legend("#{tire}_tread_depth_legend".to_sym, f)
  .col-md-5.col-xs-9.col-sm-5
    = f.label "#{tire}_tread_depth_legend".to_sym
  .serv-label-two
    %strong.text-muted= t('serviced')
  .col-md-2.col-xs-3.col-sm-2.text-center
    .form-group
      = check_box_block f, "#{tire}_tread_depth_serviced".to_sym
.row.xs-border
  .col-md-5.col-xs-7.col-sm-5.full-box
    .form-group
      = legend("#{tire}_pattern_legend".to_sym, f)
  .col-md-5.col-xs-9.col-sm-5
    = f.label "#{tire}_pattern_legend".to_sym
  .serv-label-two
    %strong.text-muted= t('serviced')
  .col-md-2.col-xs-3.col-sm-2.text-center
    .form-group
      = check_box_block f, "#{tire}_pattern_serviced".to_sym
.row.xs-border
  .col-md-5.col-xs-7.col-sm-5.full-box
    .form-group
      = legend "#{tire}_psi_legend".to_sym, f, [:yellow]
  .col-md-5.col-xs-9.col-sm-5
    = f.label "#{tire}_psi_legend".to_sym
  .serv-label-two
    %strong.text-muted= t('serviced')
  .col-md-2.col-xs-3.col-sm-2.text-center
    .form-group
      = check_box_block f, "#{tire}_psi_serviced".to_sym
